<h1>Edit cars</h1>

<div class="">
  <form class="" action="index.html" method="post">
    <input type="text" name="make" placeholder="Update Make"> <br> <br>
    <input type="text" name="model" placeholder="Update Model"> <br> <br>
    <input type="button" name="update" value="Update">
  </form>
</div>