<h1>Add new cars</h1>

<div class="">
  <form class="" action="index.html" method="post">
    <input type="text" name="make" placeholder="Make"> <br> <br>
    <input type="text" name="model" placeholder="Model"> <br> <br>
    <input type="button" name="submit" value="Submit">
  </form>
</div>